 <!-- category suggestion modal -->
<div class="modal fade" id="categorySuggestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thanks, we appreciate it.</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @category_suggestion_form, url: category_suggestions_path do |f| %>
          <%= f.input :title, label: false, placeholder: 'Category name' %> 
          </br>
          <%= f.input :why, label: false, 
              placeholder: 'Please explain what this new category will consiste in.'%>
          </br>
          <%= f.submit 'Create', class: 'btn btn-primary btn-color' %>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#new_category_suggestion').validate({
      rules: {
        'category_suggestion[title]': {
          required: true,
          minlength: 2,
          maxlength: 32
        },
        'category_suggestion[why]': {
          required: true,
          minlength: 2,
          maxlength: 160
        },
      },
      messages: {
        'category_suggestion[title]': {
          required: "Please enter a name for category suggestion.",
          minlength: "Your category name must be at least 2 characters long.",
          maxlength: "Your category name must not exceed 32 characters long."
        },
        'category_suggestion[why]': {
          required: "Please enter a description for this category suggestion.",
          minlength: "Your description must be at least 2 characters long.",
          maxlength: "Your description must not exceed 160 characters long."
        },
      },
      tooltip_options: {
        'category_suggestion[title]': { placement: 'top' },
        'category_suggestion[why]': { placement: 'top' },
      },
    });


    $('#categorySuggestionModal').on('hidden.bs.modal', function (e) {
      // clear form
      $(this).find('form')[0].reset();
      
      // clear form tooltips
      var $tooltip_div_elmts = $('.tooltip');
      $tooltip_div_elmts.each(function() {
        $(this).remove();
      });
    });
  </script>
</div>
