<div class="col-xs-10 col-xs-offset-1">
	</br></br>

	<ul class="wetal-suggestions-list">
		<% @category_suggestions.each do |category_suggestion| %>
			<li>
				<div class="wetal-suggestions-box-title" title="<%= category_suggestion.title %>">
					<h4><%= category_suggestion.title %></h4>
				</div>
				<div class="wetal-suggestions-box-desc" title="<%= category_suggestion.why %>">
					<h6><%= category_suggestion.why %></h6>
				</div>
				<div class="wetal-suggestions-box-like">
					<strong id="category_suggestion_likers_<%= category_suggestion.id %>" class="pull-left">
						<%= number_to_human(category_suggestion.likers.count, :format => '%n%u', :precision => 2,
								:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
					</strong>
					<div id="category_suggestion_like_form_<%= category_suggestion.id %>" class="pull-left">
						<% if current_user && current_user.liking_category_suggestion?(category_suggestion) %>
							<%= render partial: 'category_suggestions/dislike',
								:object => @category_suggestion = category_suggestion %>
							<!--locals: { category_suggestion: category_suggestion } %>-->
						<% else %>
							<%= render partial: 'category_suggestions/like',
								:object => @category_suggestion = category_suggestion %>
							<!--locals: { category_suggestion: category_suggestion } %>-->
						<% end %>
					</div>
					<% if current_user && current_user == category_suggestion.user %>
						<%= link_to edit_category_suggestion_path(category_suggestion), class: 'btn btn-default btn-xs',remote:true do %>
								<span class="glyphicon glyphicon-wrench"></span>
						 <% end %>
						<%= link_to category_suggestion_path(category_suggestion),
							method: :delete, data: {confirm: 'Are you sure you want to delete this?'},
							class: 'btn btn-default btn-xs' do %>
								<span class="glyphicon glyphicon-trash"></span>
						<% end %>	
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>
	<div class="text-center">
  		<%= will_paginate @category_suggestions, renderer: BootstrapPagination::Rails %>
	</div>
</div>
