<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Who we are, what we do, what we are trying to acheive</h4>
      </div>
      <div class="modal-body">
        <div class="wetal-about">
          <div class="wetal-about-top">
            <div class="wetal-about-top-profile-one">
              <div class="wetal-about-top-profile-one-picture">
                <%= image_tag 'Damien.jpg', class: 'img-responsive' %>
              </div>
              <div class="wetal-about-top-profile-one-info">
                <p><strong>Damien TALBOT</strong><br>Junior Software Developer</p>
              </div>
            </div>
            <div class="wetal-about-top-profile-two">
              <div class="wetal-about-top-profile-two-picture">
                <%= image_tag 'Fritz.jpg', class: 'img-responsive' %>
              </div>
              <div class="wetal-about-top-profile-two-info">
                <p><strong>Fritz DARES</strong><br>Junior Graphic Designer</p>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="wetal-about-bottom">
            <p>
              Wetal is a project created by Damien TALBOT and Fritz DARES about Do It Yourself (D.I.Y). We are both junior in our field but we wanted to use our skills together in order to create a project which take a place in our heart by now.
              <br/><br/>
              Wetal has been created to allow people to freely publish their own videos or to index videos via a YouTube link on the subject of Do It Yourself (D.I.Y). The content is classify by categories which allow the users to find all their favourite videos once they are on the website.
              <br/><br/>
              This is the very first version of Wetal, the next step is to go mobile (either by making an app or at least by optimizing the mobile version of this website). Our goal is to become the number one platform of D.I.Y in the world, we have some awesome features in mind but first thing first : we have to see if Wetal will please you guys. The website may have some bugs as we are not that much experienced but don't worry, there is nothing to make your computer crash. Wetal is a way to us to learn by doing.
              <br/><br/>
              Also, we would love to interact with you as this project is for you. What we mean by that is, we absolutely want you to get involved in the improvement of Wetal. So we expect you to get in touch with us either by email (<i>wetalapp@gmail.com</i>) or directly on social medias (on the left hand menu) in order to give us feedback in a positive or constructive way. We will be glad to discuss with you about our project.
              <br/><br/>
              Thank you for your support.
              <br/><br/>
              Cheers,<br/>Wetal team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
