<div class="wave">
	
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br/>
		<h1 style="text-shadow: 3px 3px #000; color: white;">
			<b>Find and create all your favorite<br/>D.I.Y right here guys !</b>
		</h1>
		<br /><br /><br />
		<br /><br /><br />
		<% if current_user && current_user.admin? %>
			<%= link_to 'Go to categories', admin_categories_path, class: 'btn btn-success btn-color' %>
		<% else %>
			<%= link_to 'Go to categories', categories_path, class: 'btn btn-success btn-color' %>
		<% end %>
		<br /><br /><br />
		<br /><br /><br />
		<h3 style="text-shadow: 3px 3px #000; color: white;">
			Wetal is the place where you can watch awesome D.I.Y, tutorials, howtos, crafts 
			from all over the world and create yours.
		</h3>
	</div>
</div>

<!--
<br />
<div class="col-xs-10 col-xs-offset-1 text-center">
  <div class="col-sm-6">
  	<h3>Top 3 Howtos</h3>
  	<br />      				
  	<div class="col-sm-4">
		Howto 1
	</div>
	<div class="col-sm-4">
		Howto 2
	</div>
    <div class="col-sm-4">
		Howto 2
	</div>
	<br /><br /><br />
	<%= link_to 'All Howtos', "#", class: 'btn btn-success' %>
  </div>

  <div class="col-sm-6">
    <h3>Top 3 Incoming Categories</h3>
    <br />
    <div class="col-sm-4">
		Category 1
	</div>
	<div class="col-sm-4">
		Category 2
	</div>
    <div class="col-sm-4">
		Category 2
	</div>
	<br /><br /><br />
	<%= link_to 'All Categories', "#", class: 'btn btn-success' %>
  </div>  
</div>
-->