$("#category_follow_form_<%= @category.id %>").html("<%= escape_javascript(render('shared/categories/unfollow')) %>");
$("#category_followers_<%= @category.id %>").html('<%= @category.followers.count %>');
