<div class="col-xs-10 col-xs-offset-1">

  </br></br>

  <div class="wetal-sign-up-form">
    <div class="wetal-sign-up-form-left-block">
      <h1>Show your creativity to the world !</h1>
      <h1>Publish your ideas.</h1>
    </div>
    
    <div class="wetal-sign-up-form-right-block">
      <div class="wetal-sign-up-form-right-block-header">
        <h3>Sign up for FREE</h3>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: false, placeholder: 'Email', required: true, autofocus: true %>
          <%= f.input :password, label: false, placeholder: 'Password (8 characters minimum)', required: true %>
          <%= f.input :password_confirmation, label: false, placeholder: 'Password confirmation', required: true %>
        </div>

        <br />

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br />

      <%= render "devise/shared/links" %>

    </div>

      <!--
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <br />

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br />

      <%= render "devise/shared/links" %>
      -->
  </div>
</div>
