$("#user_profile_follow_form_<%= @user.id %>").html("<%= escape_javascript(render('user_profiles/follow')) %>");
//$("#myfollowing_count").html("<%= @user.user_following.count %>");
$("#myfollowing_count").html("<%= @following_count %>");


$("#user_profile_li_elmt_<%= @user.id %>").remove();

//$("#myfollowing").html("<%= escape_javascript(render('user_profiles/following_tab')) %>");

