$("#wetal-comment").html("<%= escape_javascript(render('shared/howtos/comment')) %>");
$("#howto_comments").html('<%= @howto.comments.count %>');
$("#comment_content").val("");
$('input:submit').blur(); 
