<h1>Edit your comment</h1>

<%= simple_form_for @comment, url: howto_comment_path(@howto, @comment) do |f| %>
	<%= f.input :content %>
	<br />
	<%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>