<div class="col-xs-10 col-xs-offset-1">

  </br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
    	<a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">
    		<h4 style="text-align: center;">
    			<%= number_to_human(@categories.count, :format => '%n%u', :precision => 2,
					:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
    		</h4>
    		<h4>Categories</h4>
    	</a>
    </li>
    <li role="presentation">
    	<a href="#howtos" aria-controls="howtos" role="tab" data-toggle="tab">
    		<h4 style="text-align: center;">
    			<%= number_to_human(@howtos.count, :format => '%n%u', :precision => 2,
					:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
    		</h4>
    		<h4>Howtos</h4>
    	</a>
    </li>
    <li role="presentation">
    	<a href="#users" aria-controls="users" role="tab" data-toggle="tab">
    		<h4 style="text-align: center;">
    			<%= number_to_human(@user_profiles.count, :format => '%n%u', :precision => 2,
					:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
    		</h4>
    		<h4>Users</h4>
    	</a>
    </li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="categories">
    	</br>
      	<ul class="wetal-categories-list">
			<% @categories.each do |category| %>
				<li>
					<div class="wetal-categories-box-img">
						<% if category.photo.present? %>
							<%= image_tag category.photo.picture, :class => "img-responsive customized img-rounded" %>
						<% end %>
					</div>
					<div class="wetal-categories-box-bar">
						<h5><%= link_to category.title, category_howtos_path(category)%></h5>
						<%= image_tag 'Wetal-Follow.png', class: 'img-responsive' %>
						<span>
							<strong id="category_followers_<%= category.id %>">
								<%= number_to_human(category.followers.count, :format => '%n%u', :precision => 2,
									:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
							</strong> followers
						</span>
						<div id="category_follow_form_<%= category.id %>" class="pull-right">
							<% if current_user && current_user.following?(category) %>
								<%= render partial: 'shared/categories/unfollow', :object => @category = category %>
									<!--locals: { category: @category = category} %>-->
							<% else %>
								<%= render partial: 'shared/categories/follow', :object => @category = category %>
									<!--locals: { category: @category = category} %>-->
							<% end %>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		<div class="text-center">
  			<%= will_paginate @categories_paginator, renderer: BootstrapPagination::Rails %>
		</div>
    </div>


    <div role="tabpanel" class="tab-pane" id="howtos">
    	</br>
    	<%= render partial: 'shared/howtos/howtos_list' %>
		<div class="text-center">
  			<%= will_paginate @howtos_paginator, renderer: BootstrapPagination::Rails %>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="users">
    	</br>
		<ul class="wetal-search-list">
			<% @user_profiles.each do |profile| %>
				<li>
					<div class="wetal-search-list-left-block">
						<p class="wetal-search-list-left-block-picture">
							<% if profile.photo.present? %>
								<%= image_tag profile.photo.picture, :class => "img-responsive" %>
							<% end %>
						</p>
					</div>
					<div class="wetal-search-list-right-block"> 
						<div class="wetal-search-list-right-block-pseudo">
							<h4>
								<%= link_to profile.pseudo.present? ? profile.pseudo : split_email(profile.user.email), user_profile_path(profile.user) %>
							</h4>
						</div>
						<div class="wetal-search-list-right-block-description">
							<h6><%= profile.description %></h6>
						</div>
						<div class="wetal-search-list-right-block-follow-btn">
							<div id="user_profile_follow_form_<%= profile.user.id %>">
								<% if current_user && current_user.following_user?(profile.user) %>
						  			<%= render partial: 'user_profiles/unfollow',  :object => @user = profile.user %>
						  				<!--locals: { user: @user = profile.user } %>-->
								<% else %>
						  			<%= render partial: 'user_profiles/follow', :object => @user = profile.user %>
						  				<!--locals: { user: @user = profile.user } %>-->
								<% end %>
							</div>		
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		<div class="text-center">
  			<%= will_paginate @user_profiles_paginator, renderer: BootstrapPagination::Rails %>
		</div>
    </div>
  </div>
</div>
