<% if current_user %>
	<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
	
	  <div><%= hidden_field_tag :followed_id, @category.id %></div>
	  <%= f.submit "Follow", class: "btn btn-primary btn-xs outline" %>
	<% end %>
<% else %>
	<%= link_to 'Follow', new_user_session_path, :class => "btn btn-primary btn-xs outline" %>
<% end %>
