<% if current_user %>
	
	    <%= form_for(current_user.active_relationships.find_by(followed_id: @category.id), 
	    	html: { method: :delete }, remote: true) do |f| %>
	  	<%= f.submit "Unfollow", class: "btn btn-primary btn-xs outline" %>
	<% end %>
<% else %>
	<%= link_to 'Unfollow', new_user_session_path, :class => "btn btn-primary btn-xs outline" %>
<% end %>
