$("#category_suggestion_like_form_<%= @category_suggestion.id %>").html("<%= escape_javascript(render('category_suggestions/like')) %>");
$("#category_suggestion_likers_<%= @category_suggestion.id %>").html("<%= @category_suggestion.likers.count %>");