<!-- howto form howtoEditModal -->
<div class="modal fade" id="userProfileEditModal" tabindex="-1" role="dialog" 
  aria-labelledby="userProfileEditModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="userProfileEditModalLabel">Updating your profile</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user_profile, url: user_profile_path(@user_profile),
          html: { multipart: true, novalidate: true } do |f| %>
          <%= f.input :pseudo, label: false, placeholder: 'Your pseudo' %>
          <br />
          <%= f.input :description, label: false, placeholder: 'Say something about you' %>
          <br />
          <div class="wetal-user-profile-form-upload">
            <div class="wetal-user-profile-form-picture-img">
              <%= image_tag 'picture-wetal.png', height: '32', width: '32', class: 'img-responsive' %>
            </div>
            <div class="wetal-user-profile-form-file">
              <div class="input-group">
                <label class="input-group-btn">
                  <span class="btn btn-default btn-file">
                      Browse
                      <input name="user_profile[photo_attributes][picture]" 
                        class="file form-control upload"
                        id="user_profile_photo_attributes_picture" type="file">
                  </span>
                  <input name="user_profile_photo_file_name" id="uploadFile" style="" 
                         type="text" class="form-control uploadFile" readonly>
                </label>
              </div>
            </div>
          </div>
          <br /> <br />  
          <%= f.submit 'Update', class: 'btn btn-primary btn-color' %>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">

    $('#user_profile_photo_attributes_picture').on('change', function() {
      var value = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
      $("#uploadFile").val(value);
    });

    $('#userProfileEditModal').on('shown.bs.modal', function (e) {

      $(this).find('form').validate({
        rules: {
          'user_profile[pseudo]': {
            required: true,
            minlength: 2,
            maxlength: 64
          },
          'user_profile[description]': {
            required: true,
            minlength: 2,
            maxlength: 160
          },
          'user_profile[photo_attributes][picture]': {   // Why this rule ?
            required: true,                              // I do not know !
            extension: "png|jpg|jpeg"                    // but it doesn't work without it
          },
          'user_profile_photo_file_name': {
            required: true,
            extension: "png|jpg|jpeg"
          },
        },
        messages: {
          'user_profile[pseudo]': {
            required: "Please enter a pseudo.",
            minlength: "Your pseudo must be at least 2 characters long.",
            maxlength: "Your pseudo must not exceed 64 characters long."
          },
          'user_profile[description]': {
            required: "Please enter some words about you.",
            minlength: "Your words must be at least 2 characters long.",
            maxlength: "Your words must not exceed 160 characters long."
          },
          'user_profile_photo_file_name': {
            required: "Please select a video file.",
            extension: "Please select a file with one of these extensions : .png, .jpg, .jpeg"
          },
        },
        tooltip_options: {
          'user_profile[pseudo]': { placement: 'top' },
          'user_profile[description]': { placement: 'top' },
          'user_profile_photo_file_name': { placement: 'top' },
        },
      });
      
      // BUG TO SOLVE WITH THIS LINE !!!
      //$("#uploadFile").val("<%= @filename %>");

    });

    $('#userProfileEditModal').on('hidden.bs.modal', function (e) {
      // clear form
      //$(this).find('form')[0].reset();
      // clear form tooltips
      //var $tooltip_div_elmts = $('.tooltip');
      //$tooltip_div_elmts.each(function() {
      //  $(this).remove();
      //});
      $("#userProfileEditModal").remove();
    });
  </script>
</div>

<style type="text/css">
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
</style>
