</br>
<ul class="wetal-search-list">
	<% @user_user_following.each do |followed| %>
		<li id="user_profile_li_elmt_<%= followed.id %>">
			<div class="wetal-search-list-left-block">
				<p class="wetal-search-list-left-block-picture">
					<% if followed.user_profile != nil %>
						<% if followed.user_profile.photo.present? %>
							<%= image_tag followed.user_profile.photo.picture, 
								:class => "img-responsive" %>
						<% end %>
					<% end %>
				</p>
			</div>
			<div class="wetal-search-list-right-block"> 
				<div class="wetal-search-list-right-block-pseudo">
					<% if followed.user_profile != nil %>
						<h4><%= link_to followed.user_profile.pseudo, user_profile_path(followed) %></h4>
					<% end %>
					<!--<h4><%= link_to followed.email, user_profile_path(followed) %></h4>-->
				</div>
				<div class="wetal-search-list-right-block-description">
					<% if followed.user_profile != nil %>
						<h6><%= followed.user_profile.description %></h6>
					<% end %>
				</div>
				<div class="wetal-search-list-right-block-follow-btn">
					<div id="user_profile_follow_form_<%= followed.id %>">
						<% if current_user && current_user.following_user?(followed) %>
				  			<%= render partial: 'user_profiles/unfollow',
				  				:object => @user = followed %>
				  				<!--locals: { user: @user = followed } %>-->
						<% else %>
				  			<%= render partial: 'user_profiles/follow',
				  				:object => @user = followed %>
				  				<!--locals: { user: @user = followed } %>-->
						<% end %>
					</div>	
				</div>
			</div>
		</li>
	<% end %>
</ul>
<div class="text-center">
	<%= will_paginate @user_user_following, renderer: BootstrapPagination::Rails %>
</div>