<% if current_user != @user %>
	<% if current_user %>
		<%= form_for(current_user.active_user_relationships.find_by(followed_id: @user.id), 
		    html: { method: :delete }, remote: true) do |f| %>
		  <%= f.submit "Unfollow", class: "btn btn-primary btn-xs outline" %>
		<% end %>
	<% else %>
		<%= link_to 'Follow', new_user_session_path, :class => "btn btn-primary btn-xs outline pull-right" %>
	<% end %>
<% end %>
