<div class="col-xs-10 col-xs-offset-1">
	</br>

	<div class="wetal-profile">
		<div class="wetal-profile-left-block">
			<p class="wetal-profile-left-block-picture">
				<% if @user_profile != nil %>
					<% if @user_profile.photo.present? %>
						<%= image_tag @user_profile.photo.picture, :class => "img-responsive" %>
					<% end %>
				<% end %>
			</p>
		</div>
		<div class="wetal-profile-right-block">
			<% if @user_profile != nil %>
				<%= @user_profile.pseudo.present? ? @user_profile.pseudo : split_email(@user_profile.user.email) %>
			<% end %>
			</br>
			<% if @user_profile != nil %>
				<%= @user_profile.description %>
			<% end %>
			</br></br>
			<% if @user_profile != nil %>
				<% if current_user && current_user == @user_profile.user %>
					<%= link_to 'Edit', edit_user_profile_path(@user_profile), 
						class: 'btn btn-primary btn-xs outline', remote: true %>
				<% end %>
			<% end %>
			</br>
			<div id="follow_form">
				<% if current_user && current_user.following_user?(@user) %>
				  <%= render partial: 'unfollow', locals: { user: @user } %>
				<% else %>
				  <%= render partial: 'follow', locals: { user: @user } %>
				<% end %>
			</div>
		</div>
	</div>
	
	


	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<!--
		<li role="presentation" class="active">
			<a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">
				<h4 style="text-align: center;">
					<%= number_to_human(@user.howto_prefering.count, :format => '%n%u', :precision => 2,
						:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
				</h4>
				<h4>Favorites</h4>
			</a>
		</li>
		-->
		<li role="presentation" class="active">
			<a href="#myhowtos" aria-controls="myhowtos" role="tab" data-toggle="tab">
				<h4 style="text-align: center;">
					<%= number_to_human(@user.howtos.count, :format => '%n%u', :precision => 2,
						:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
				</h4>
				<h4>My Howtos</h4>
			</a>
		</li>
		<li role="presentation">
			<a href="#mycategories" aria-controls="mycategories" role="tab" data-toggle="tab">
				<h4 style="text-align: center;">
					<%= number_to_human(@user.following.count, :format => '%n%u', :precision => 2,
						:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
				</h4>
				<h4>My Categories</h4>
			</a>
		</li>
		
		<li role="presentation">
			<a href="#myfollowers" aria-controls="myfollowers" role="tab" data-toggle="tab">
				<h4 id="myfollowers_count"style="text-align: center;">
					<%= number_to_human(@user.user_followers.count, :format => '%n%u', :precision => 2,
						:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
				</h4>
				<h4>Followers</h4>
			</a>
		</li>
		<li role="presentation">
			<a href="#myfollowing" aria-controls="myfollowing" role="tab" data-toggle="tab">
				<h4 id="myfollowing_count" style="text-align: center;">
					<%= number_to_human(@user.user_following.count, :format => '%n%u', :precision => 2,
						:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
				</h4>
				<h4>Following</h4>
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<!--
		<div role="tabpanel" class="tab-pane active" id="favorites">
			</br>
			<!--%= render partial: 'shared/howtos/howtos_list' %-->
			<!--
			<div class="text-center">
  				<%= will_paginate @favorite_howtos, renderer: BootstrapPagination::Rails %>
			</div>
		</div>
		-->

		<div role="tabpanel" class="tab-pane active" id="myhowtos">
			</br>
			<%= render partial: 'shared/howtos/howtos_list' %>
			<div class="text-center">
  				<%= will_paginate @user_howtos, renderer: BootstrapPagination::Rails %>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="mycategories">
			</br>
			<ul class="wetal-categories-list">
				<% @user_categories_following.each do |category| %>
					<li>
						<div class="wetal-categories-box-img">
							<% if category.photo.present? %>
								<%= image_tag category.photo.picture, :class => "img-responsive customized img-rounded" %>
							<% end %>
						</div>
						<div class="wetal-categories-box-bar">
							<h5><%= link_to category.title, category_howtos_path(category)%></h5>
							<%= image_tag 'Wetal-Follow.png', class: 'img-responsive' %>
							<span>
								<strong id="category_followers_<%= category.id %>">
									<%= category.followers.count %>
								</strong> followers
							</span>
							<!-- <span><strong>100000</strong> followers</span>-->
							<div id="category_follow_form_<%= category.id %>" class="pull-right">
								<% @category = category %>
								<% if current_user && current_user.following?(category) %>
									<%= render partial: 'shared/categories/unfollow',
										:object => @category = category %>
										<!--locals: { category: @category } %>-->
								<% else %>
									<%= render partial: 'shared/categories/follow', 
										:object => @category = category %>
										<!--locals: { category: @category } %>-->
								<% end %>
							</div>	
						</div>
					</li>
				<% end %>
			</ul>
			<div class="text-center">
  				<%= will_paginate @user_categories_following, renderer: BootstrapPagination::Rails %>
			</div>
		</div>


		<div role="tabpanel" class="tab-pane" id="myfollowers">
			</br>
			<ul class="wetal-search-list">
				<% @user_user_followers.each do |follower| %>
					<li>
						<div class="wetal-search-list-left-block">
							<p class="wetal-search-list-left-block-picture">
								<% if follower.user_profile != nil %>
									<% if follower.user_profile.photo.present? %>
										<%= image_tag follower.user_profile.photo.picture, 
											:class => "img-responsive" %>
									<% end %>
								<% end %>
							</p>
						</div>
						<div class="wetal-search-list-right-block"> 
							<div class="wetal-search-list-right-block-pseudo">
								<% if follower.user_profile != nil %>
									<h4><%= link_to follower.user_profile.pseudo, user_profile_path(follower) %></h4>
								<% end %>
								<!--<h4><%= link_to follower.email, user_profile_path(follower) %></h4>-->
							</div>
							<div class="wetal-search-list-right-block-description">
								<% if follower.user_profile != nil %>
									<h6><%= follower.user_profile.description %></h6>
								<% end %>
							</div>
					
							<div class="wetal-search-list-right-block-follow-btn">
								<div id="user_profile_follow_form_<%= follower.id %>">
									<% if current_user && current_user.following_user?(follower) %>
							  			<%= render partial: 'user_profiles/unfollow',
							  				:object => @user = follower %>
							  				<!--locals: { user: @user = follower } %>-->
									<% else %>
							  			<%= render partial: 'user_profiles/follow',
							  				:object => @user = follower %>
							  				<!--locals: { user: @user = follower } %>-->
									<% end %>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
			<div class="text-center">
  				<%= will_paginate @user_user_followers, renderer: BootstrapPagination::Rails %>
			</div>
		</div>


		<div role="tabpanel" class="tab-pane" id="myfollowing">
			<%= render partial: 'user_profiles/following_tab' %>
		</div>
	</div>
</div>
