$("#howto_like_form_<%= @howto.id %>").html("<%= escape_javascript(render('shared/howtos/like')) %>");
$("#howto_likers_<%= @howto.id %>").html("<%= @howto.likers.count %>");


$("#modal_howto_like_form_<%= @howto.id %>").html("<%= escape_javascript(render('shared/howtos/like')) %>");
$("#modal_howto_likers_<%= @howto.id %>").html("<%= @howto.likers.count %>");