<!--
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
  </div>

  <br />

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
-->


<div class="col-xs-10 col-xs-offset-1">

  </br></br>

  <div class="wetal-sign-up-form">
	    <div class="wetal-sign-up-form-right-block">
	    	<div class="wetal-sign-up-form-right-block-header">
	    		<h3>Sign in</h3>
	    	</div>
	      	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	        	<div class="form-inputs">
	        		<%= f.input :email, label: false, placeholder: 'Email', required: false, autofocus: true %>
	    			<%= f.input :password, label: false, placeholder: 'Password', required: false %>
	        	</div>
	        	<br />
		        <div class="form-actions">
		          <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
		        </div>
	      	<% end %>
	      	<br />
	      	<%= render "devise/shared/links" %>
	    </div>
    </div>
</div>
