<div class="list-group comments-overflow">
  <% @howto.comments.each do |comment| %>
    <div class="list-group-item"> 
      <div class="wetal-comment-profile">
        <p class="wetal-comment-profile-picture">
          <% if comment.user.user_profile != nil %>
            <% if comment.user.user_profile.photo.present? %>
              <%= image_tag comment.user.user_profile.photo.picture, :class => "img-responsive" %>
            <% end %>
          <% end %>
        </p>
        <h5 class="wetal-comment-profile-pseudo">
          <%= comment.user.user_profile.pseudo.present? ? comment.user.user_profile.pseudo 
          : split_email(comment.user.email) %>
        </h5>
        
        <!--
        <h5 class="wetal-comment-profile-pseudo">
          <%= link_to comment.user.email, user_profile_path(comment.user) %>
        </h5>
        -->
      </div>
      <%= comment.content %>
      <br>
      <% if current_user && current_user == comment.user %>
        <%= link_to edit_howto_comment_path(@howto, comment),
          class: 'btn btn-default btn-xs' do %>
               <span class="glyphicon glyphicon-wrench"></span>
        <% end %>
        <%= link_to howto_comment_path(@howto, comment), method: :delete, 
          data: {confirm: 'Are you sure you want to delete this?'},
          class: 'btn btn-default btn-xs' do %>
              <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>