<% if current_user %>
	<%= form_for(current_user.active_howto_likes.find_by(liked_id: @howto.id), 
	    html: { method: :delete }, remote: true) do |f| %>
	  <!--<%= f.submit "Dislike", class: "btn btn-primary btn-xs" %>-->
	  <button type="submit" class="btn btn-default btn-xs">
	  	<span class="glyphicon glyphicon-heart"></span>
	  </button>
	<% end %>
<% else %>
	<%= link_to new_user_session_path, :class => "btn btn-default btn-xs" do %>
		<span class="glyphicon glyphicon-heart"></span>
	<% end %>
<% end %>