<!-- howto form howtoEditModal -->
<div class="modal fade" id="howtoEditModal" tabindex="-1" role="dialog" aria-labelledby="howtoEditModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="howtoEditModalLabel">Updating <%= @howto.title %></h4>
      </div>
      <div class="modal-body">
        <div class="wetal-howto-form">
          <%= simple_form_for @howto, url: category_howto_path(@category, @howto),  
            html: { multipart: true, novalidate: true } do |f| %>
            <div class="wetal-howto-form-title">
              <%= f.input :title, label: false, placeholder: 'Title' %>
            </div>
            <div class="wetal-howto-form-desc">
              <%= f.input :description, label: false, placeholder: 'Description' %>
            </div>
            <div class="wetal-howto-form-for-sale">
              <%= f.input :for_sale, as: :boolean %>
              <div id="link_div" style="">
                <%= f.input :link, label: false, 
                  placeholder: 'Link where people can buy your howto (only if buyable)', required: true %>
              </div>
            </div>
            <div class="wetal-howto-form-yt">
              <div class="wetal-howto-form-yt-img">
                <%= image_tag 'link-wetal.png', height: '32', width: '32', class: 'img-responsive' %>
              </div>
              <div class="wetal-howto-form-yt-link">
                <%= f.input :yt_embedded_link, label: false, placeholder: 'YouTube embedded link' %>
              </div>
            </div>
            <br/>
            <p class="text-center"><strong>OR</strong></p>       
            <div class="wetal-howto-form-upload">
              <p><strong>20MB max</strong></p>
              <div class="wetal-howto-form-camera-img">
                <%= image_tag 'camera-wetal.png', height: '32', width: '32', class: 'img-responsive' %>
              </div>
              <div class="wetal-howto-form-file">
                <div class="input-group">
                  
                  <label class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse
                         <input name="howto[video_attributes][video]" 
                            class="file form-control upload"
                            id="howto_video_attributes_video" type="file">
                    </span>
                    <input name="howto_video_file_name" id="uploadFile" style="" 
                           type="text" 
                      class="form-control uploadFile" readonly>
                  </label>
                </div>    
              </div>
            </div>                    
            
            </br>
            <%= f.submit 'Update', class: 'btn btn-primary btn-color' %>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  
    $checkbox = $("#howto_for_sale");
    $link_div = $("#link_div");
    if($checkbox.is(':checked')){ $link_div.css("display", "block"); }
    $checkbox.on('change', function(e){
      if($(this).is(':checked')){
        $link_div.show();
      }
      else{
        $link_div.hide(); 
      }
    });


    $('#howto_video_attributes_video').on('change', function() {
      var value = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
      $("#uploadFile").val(value);
    });


    $("#howto_yt_embedded_link").on('change', function() {
      if ($(this).val() != "" || $(this).val().length > 0) 
      {
        $(".btn-file").attr('disabled','disabled');
        $("#howto_video_attributes_video").rules('remove');
        $("#uploadFile").rules('remove');
      }
      else 
      {
        $(".btn-file").removeAttr('disabled'); 
        $('#howto_video_attributes_video').rules('add', {
          required: true,
          extension: "mp4|3gp|mov|webm"
        });
        $('#uploadFile').rules('add', {
          required: true,
          extension: "mp4|3gp|mov|webm"
        });
      }
    });  


    $("#howto_video_attributes_video").on('change', function() {
      if ($(this).val() != "" || $(this).val().length > 0) 
      {
        $("#howto_yt_embedded_link").attr('disabled','disabled');  
        $("#howto_yt_embedded_link").rules('remove');
      }
      else 
      {
        $("#howto_yt_embedded_link").removeAttr('disabled');
        $('#howto_yt_embedded_link').rules('add', {
          required: true,
          pattern: /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/i
        });
      }
    });



    $('#howtoEditModal').on('shown.bs.modal', function (e) {

      $(this).find('form').validate({
        rules: {
          'howto[title]': {
            required: true,
            minlength: 2,
            maxlength: 160
          },
          'howto[description]': {
            required: true,
            minlength: 2,
            maxlength: 1000
          },
          'howto[video_attributes][video]': {   // Why this rule ?
            required: true,                     // I do not know !
            extension: "mp4|3gp|mov|webm"      // but it doesn't work without it
          },
          'howto_video_file_name': {
            required: true,
            extension: "mp4|3gp|mov|webm"
          },
          'howto[link]': {
            required: "#howto_for_sale:checked",
            url: true
          },
          'howto[yt_embedded_link]': {
            required: true,
            pattern: /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/i
          },
        },
        messages: {
          'howto[title]': {
            required: "Please enter a title for this howto.",
            minlength: "Your title must be at least 2 characters long.",
            maxlength: "Your title must not exceed 160 characters long."
          },
          'howto[description]': {
            required: "Please enter a description for this howto.",
            minlength: "Your description must be at least 2 characters long.",
            maxlength: "Your description must not exceed 1000 characters long."
          },
          'howto_video_file_name': {
            required: "Please select a video file.",
            extension: "Please select a file with one of these extensions : .mp4, .3gp, .mov, .webm"
          },
          'howto[link]': {
            required: "Please enter the URL where people can buy your howto.",
            url: "Please enter a valide URL (e.g. http://www.example.com)"
          },
          'howto[yt_embedded_link]': {
            required: "Please enter copy/paste a YouTube embedded link",
            pattern: "The link should look like https://www.youtube.com/embed/BQ16egvquKE"
          },
        },
        tooltip_options: {
          'howto[title]': { placement: 'top' },
          'howto[description]': { placement: 'top' },
          'howto_video_file_name': { placement: 'top' },
          'howto[link]': { placement: 'top' },
          'howto[yt_embedded_link]': { placement: 'top' }
        },
      });
      
      //$("#uploadFile").val("<%= @filename %>");
      //$("#howto_video_attributes_video").val("<%= @filename %>")


      if ($("#howto_yt_embedded_link").val() != "" || $("#howto_yt_embedded_link").val().length > 0) 
      {
        $(".btn-file").attr('disabled','disabled');
        $("#howto_video_attributes_video").rules('remove');
        $("#uploadFile").rules('remove');
      }

      if (($("#uploadFile").val() != "" || $("#uploadFile").val().length > 0)) 
      {
        $("#howto_yt_embedded_link").attr('disabled','disabled');  
        $("#howto_yt_embedded_link").rules('remove');
      }

      
      
      

    });

    $('#howtoEditModal').on('hidden.bs.modal', function (e) {
      // clear form
      //$(this).find('form')[0].reset();
      // clear form tooltips
      //var $tooltip_div_elmts = $('.tooltip');
      //$tooltip_div_elmts.each(function() {
      //  $(this).remove();
      //});
      $("#howtoEditModal").remove();
    });
  </script>
</div>

<style type="text/css">
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
</style>