<ul class="wetal-howtos-list">
	<% (@howtos || @user_howtos).each do |howto| %>
		<li>
			<div class="wetal-howtos-box-vid">
				<% if howto.video.present? %>
					<video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered img-rounded" controls preload="auto" width="205" height="100" poster="/assets/black.jpg" data-setup="{}">
		   				<source src="<%= howto.video.video.to_s %>" type='video/mp4'>
		   				<source src="<%= howto.video.video.to_s %>" type="video/webm" />
						<source src="<%= howto.video.video.to_s %>" type="video/ogg" />
		   				<p class="vjs-no-js">
		   					To view this video please enable JavaScript, 
		   					and consider upgrading to a web browser that 
		   					<a href="http://videojs.com/html5-video-support/" target="_blank">
		   						supports HTML5 video
		   					</a>
		   				</p>
		 			</video>
		 		<% else %>	
		 			<iframe class="" width="205" height="100" src="<%= howto.yt_embedded_link %>" 
		 				frameborder="0" allowfullscreen>
		 			</iframe>
		 		<% end %>
			</div>
			<div class="wetal-howtos-box-infobar">
				<h5 title="<%= howto.title %>">
					<%= link_to howto.title, category_howto_path(howto.category_id, howto), remote: true %>
				</h5>
				<h5 title="<%= howto.user.user_profile.pseudo.present? ? howto.user.user_profile.pseudo : split_email(howto.user.email) %>">
					<%= link_to howto.user.user_profile.pseudo.present? ? howto.user.user_profile.pseudo : split_email(howto.user.email), user_profile_path(howto.user) %>
				</h5>
			</div>
			<div class="wetal-howtos-box-toolbar">
				<span>
					<strong id="howto_admirers_<%= howto.id %>" class="pull-left">
						<%= number_to_human(howto.admirers.count, :format => '%n%u', :precision => 2,
							:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
					</strong>
				</span>
				<div id="howto_favorite_form_<%= howto.id %>" class="pull-left">
					<% if current_user && current_user.prefering_howto?(howto) %>
						<%= render partial: 'shared/howtos/unprefer', :object => @howto = howto %>
							<!-- locals: { howto: howto } -->
					<% else %>
						<%= render partial: 'shared/howtos/prefer', :object => @howto = howto %>
							<!--locals: { howto: howto } %>-->
					<% end %>
				</div>
				<span>
					<strong id="howto_likers_<%= howto.id %>" class="pull-left">
						<%= number_to_human(howto.likers.count, :format => '%n%u', :precision => 2,
							:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
					</strong>
				</span>
				<div id="howto_like_form_<%= howto.id %>" class="pull-left">
					<% if current_user && current_user.liking_howto?(howto) %>
						<%= render partial: 'shared/howtos/dislike', :object => @howto = howto %>
						<!--locals: { howto: howto } %>-->
					<% else %>
						<%= render partial: 'shared/howtos/like', :object => @howto = howto %>
						<!--locals: { howto: howto } %>-->
					<% end %>
				</div>
				<span>
					<strong>
						<%= number_to_human(howto.comments.count, :format => '%n%u', :precision => 2,
							:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
					</strong>
				</span>
				<% if current_user %>
					<%= link_to category_howto_path(howto.category_id, howto),
						class: 'btn btn-default btn-xs', remote: true, :data => { :foo => 'that' } do %>
						<span class="glyphicon glyphicon-comment"></span>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path, class: 'btn btn-default btn-xs' do %>
					    <span class="glyphicon glyphicon-comment"></span>
					<% end %>
				<% end %>
				<% if howto.for_sale %>
					<%= link_to howto.link, class: 'btn btn-default btn-xs', :target => "_blank" do %>
						<span class="glyphicon glyphicon-shopping-cart"></span>
					<% end %>
				<% end %>
				<% if current_user && current_user == howto.user %>
					<%= link_to edit_category_howto_path(howto.category_id, howto),
						class: 'btn btn-default btn-xs', remote: true do %>
							<span class="glyphicon glyphicon-wrench"></span>
					 <% end %>
					<%= link_to category_howto_path(howto.category_id, howto), method: :delete, 
						data: {confirm: 'Are you sure you want to delete this?'},
						class: 'btn btn-default btn-xs' do %>
							<span class="glyphicon glyphicon-trash"></span>
					<% end %>
				<% end %>
			</div>
		</li>
	<% end %>
	<script type="text/javascript">
	  
		//$('.test').on('click', function (e) {
			//alert("pressed on click");
			//$howtoDetailModal = $('body').find($('#howtoDetailModal'));
			//$howtoDetailModal.modal('toggle', $(this));
			
			//alert($howtoDetailModal);
			//alert($(this));
			//$('#howtoDetailModal li > a[href="#comments"]').tab("show");		
				
			//$("element").data('bs.modal').isShown
			//$("element").data()['bs.modal'].isShown
		//});
	</script>
	
</ul>