<% if current_user %>
	<%= form_for(current_user.active_howto_likes.build, remote: true) do |f| %>
	  <%= hidden_field_tag :liked_id, @howto.id %>
	  <!--<%= f.submit "Like", class: "btn btn-primary btn-xs" %>-->
	  <button type="submit" class="btn btn-default btn-xs">
	  	<span class="glyphicon glyphicon-heart-empty"></span>
	  </button>
	<% end %>
<% else %>
	<%= link_to new_user_session_path, :class => "btn btn-default btn-xs" do %>
		<span class="glyphicon glyphicon-heart-empty"></span>
	<% end %>
<% end %>