<!-- howto detail Modal -->
<div class="modal fade" id="howtoDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <%= @howto.title %> by 
          <i><%= link_to howto.user.user_profile.pseudo.present? ? howto.user.user_profile.pseudo : 
          split_email(howto.user.email), user_profile_path(howto.user) %></i>
        </h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-video">
          <% if @howto.video.present? %>
      			<video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered img-rounded" 
      				controls preload="auto" width="205" height="100" poster="/assets/black.jpg" data-setup="{}">
      				<source src="<%= @howto.video.video.to_s %>" type='video/mp4'>
      				<source src="<%= @howto.video.video.to_s %>" type="video/webm" />
      				<source src="<%= @howto.video.video.to_s %>" type="video/ogg" />
      				<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading 
                to a web browser that 
      					<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      				</p>
      			</video>
          <% else %>  
            <iframe class="" width="400" height="400" src="<%= howto.yt_embedded_link %>" 
              frameborder="0" allowfullscreen>
            </iframe>
          <% end %>

          <div class="wetal-howtos-box-toolbar">
            <span>
              <strong id="modal_howto_admirers_<%= howto.id %>" class="pull-left">
                <%= number_to_human(howto.admirers.count, :format => '%n%u', :precision => 2,
                  :units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
              </strong>
            </span>
            <div id="modal_howto_favorite_form_<%= howto.id %>" class="pull-left">
              <% if current_user && current_user.prefering_howto?(howto) %>
                <%= render partial: 'shared/howtos/unprefer', :object => @howto = howto %>
                <!--locals: { howto: @howto } %>-->
              <% else %>
                <%= render partial: 'shared/howtos/prefer', :object => @howto = howto %>
                <!--locals: { howto: @howto } %>-->
              <% end %>
            </div>
            <span>
              <strong id="modal_howto_likers_<%= howto.id %>" class="pull-left">
                <%= number_to_human(howto.likers.count, :format => '%n%u', :precision => 2,
                  :units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
              </strong>
            </span>
            <div id="modal_howto_like_form_<%= howto.id %>" class="pull-left">
              <% if current_user && current_user.liking_howto?(howto) %>
                <%= render partial: 'shared/howtos/dislike', locals: { howto: howto } %>
              <% else %>
                <%= render partial: 'shared/howtos/like', locals: { howto: howto } %>
              <% end %>
            </div>
            <span>
              <strong id="howto_comments">
                <%= number_to_human(howto.comments.count, :format => '%n%u', :precision => 2,
                  :units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
              </strong>
            </span>
            <!--
            <% if current_user %>
              <%= link_to  "#", class: 'btn btn-default btn-xs' do %>
                <span class="glyphicon glyphicon-comment"></span>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: 'btn btn-default btn-xs' do %>
                  <span class="glyphicon glyphicon-comment"></span>
              <% end %>
            <% end %>
            <% if howto.for_sale %>
              <%= link_to howto.link, class: 'btn btn-default btn-xs', :target => "_blank" do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
              <% end %>
            <% end %>
            <% if current_user && current_user == howto.user %>
              <%= link_to edit_category_howto_path(@category, howto),
                class: 'btn btn-default btn-xs' do %>
                  <span class="glyphicon glyphicon-wrench"></span>
               <% end %>
              <%= link_to category_howto_path(@category, howto), method: :delete, 
                data: {confirm: 'Are you sure you want to delete this?'},
                class: 'btn btn-default btn-xs' do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            <% end %>
            -->
          </div>
        </div>

        <div class="modal-body-info">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"> <!--class="active"-->
              <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
            </li>
            <li role="presentation">
              <a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a>
            </li>
            <li role="presentation">
              <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="description"> <!--class="tab-pane active"-->
              <%= @howto.description %>
            </div>

            <div role="tabpanel" class="tab-pane" id="products">
              </br>
              <% if current_user && current_user == howto.user %>
                <%= link_to 'Add New Product', new_howto_product_path(@howto), 
                  class: 'btn btn-primary btn-xs pull-right btn-color', remote: true %>
              <% end %>
              <br /><br />
              <div class="list-group pdts-overflow">
                <% @howto.products.each do |product| %>
                  <div class="list-group-item">
                    <div class="list-group-item-pdts-picture">
                      <% if product.photo.present? %>
                        <%= image_tag product.photo.picture, :class => "img-responsive center-block" %>
                      <% end %>
                    </div>
                    <div class="list-group-item-pdts-info">
                      <b><%= product.name %></b>
                      <br/>
                      <%= product.link %>
                      <br/><br/>
                      <% if current_user && current_user == @howto.user %>
                        <%= link_to edit_howto_product_path(@howto, product),
                          class: 'btn btn-default btn-xs', remote: true do %>
                             <span class="glyphicon glyphicon-wrench"></span>
                        <% end %>

                        <%= link_to howto_product_path(@howto, product), method: :delete, 
                          data: {confirm: 'Are you sure you want to delete this?'},
                          class: 'btn btn-default btn-xs' do %>
                            <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                      <% end %>
                    </div>    
                  </div>
                <% end %>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="comments">
              </br>
              <div id="wetal-comment">
                <%= render partial: 'shared/howtos/comment' %>
              </div>
              <div class="wetal-comment-input">
                <%= simple_form_for Comment.new, url: howto_comments_path(@howto), remote: true do |f| %>
                  <%= f.input :content, label: false %>
                  </br>
                  <%= f.submit 'Send', class: 'btn btn-primary btn-color send-fake-class' %>  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  
  // http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime
  /*$('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
  });*/
  
  $('#howtoDetailModal').on('shown.bs.modal', function (e) {
    //$('#howtoDetailModal li > a[href="#comments"]').tab("show");
    
    $target = $(e.relatedTarget);
    var data = $target.data('foo');

    //alert(data);
    //alert($(e.relatedTarget).attr('foo'));
    //alert($(e.relatedTarget).data('foo'));
    //$button = $(e.relatedTarget);
    //var comments = $button.data("foo");
    //alert($button.data("foo"));
    /*if($(e.relatedTarget) !=  null)
    {
      $('#howtoDetailModal li > a[href="#comments"]').tab("show");
    }*/
    //var button = $(e.relatedTarget);
    //$buttonClass = $button.attr('class');
    //alert(button.nodeName);
    /*if(buttonClass === "test")
    {
      
    }*/
    //alert(button);
  });

  

  $('#howtoDetailModal').on('hidden.bs.modal', function (e) {
    $("#howtoDetailModal").remove();
  });

  /*$.ajaxSetup ({
    // Disable caching of AJAX responses
    cache: false
  });*/

</script>