<% if current_user %>
	<%= form_for(current_user.active_howto_favorites.build, remote: true) do |f| %>
	  <div><%= hidden_field_tag :admired_id, @howto.id %></div>
	  <button type="submit" name="commit" class="btn btn-default btn-xs">
	  	<span class="glyphicon glyphicon-star-empty"></span>
	  </button>
	<% end %>
<% else %>
	<%= link_to new_user_session_path, :class => "btn btn-default btn-xs" do %>
		<span class="glyphicon glyphicon-star-empty"></span>
	<% end %>
<% end %>