<% if current_user %>
	<%= form_for(current_user.active_howto_favorites.find_by(admired_id: @howto.id), 
	    html: { method: :delete }, remote: true) do |f| %>
	  <button type="submit" name="commit" class="btn btn-default btn-xs">
	  	<span class="glyphicon glyphicon-star"></span>
	  </button>
	<% end %>
<% else %>
	<%= link_to new_user_session_path, :class => "btn btn-default btn-xs" do %>
		<span class="glyphicon glyphicon-star"></span>
	<% end %>
<% end %>