<h1>Edit your category</h1>

<%= simple_form_for @category, url: admin_category_path do |f| %>
	<%= f.input :title %>
	<%= f.simple_fields_for :photo do |sf| %>
		<%= sf.input :picture %>
	<% end %> 
	<br />
	<%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>