<div class="col-xs-10 col-xs-offset-1">
	<div class="col-sm-12 col-xs-12 ">
		<% if current_user && current_user.admin? %>
			<%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary pull-right' %>
		<% end %>
	</div>

	</br></br>


	<ul class="wetal-categories-list">
		<% @categories.each do |category| %>
			<li>
				<div class="wetal-categories-box-img">
					<% if category.photo.present? %>
						<%= image_tag category.photo.picture, :class => "img-responsive customized img-rounded" %>
					<% end %>
				</div>
				<div class="wetal-categories-box-bar">
					<h5><%= link_to category.title, category_howtos_path(category)%></h5>
					<%= image_tag 'Wetal-Follow.png', class: 'img-responsive' %>
					<span>
						<strong id="category_followers_<%= category.id %>"><%= category.followers.count %></strong> followers
					</span>
					<!-- <span><strong>100000</strong> followers</span>-->
					<div id="category_follow_form_<%= category.id %>">
						<% if current_user && current_user.following?(category) %>
							<%= render partial: 'shared/categories/unfollow', :object => @category = category %>
								<!--locals: { category: @category = category } %>-->
						<% else %>
							<%= render partial: 'shared/categories/follow', :object => @category = category %>
								<!--locals: { category: @category = category } %>-->
						<% end %>
					</div>
					<% if current_user && current_user.admin? %>
						<%= link_to edit_admin_category_path(category), class: 'btn btn-default btn-xs' do %>
								<span class="glyphicon glyphicon-wrench"></span>
						 <% end %>
						<%= link_to admin_category_path(category), method: :delete, 
							data: {confirm: 'Are you sure you want to delete this?'},
							class: 'btn btn-default btn-xs' do %>
								<span class="glyphicon glyphicon-trash"></span>
						<% end %>
				<% end %>
				</div>
			</li>
		<% end %>
	</ul>

	<div class="text-center">
  		<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
	</div>

</div>







