<h1>Enter your category's details</h1>

<%= simple_form_for @category, url: admin_categories_path do |f| %>
	<%= f.input :title %>
	<%= f.simple_fields_for :photo do |sf| %>
		<%= sf.input :picture %>
	<% end %>    
	<br />
	<%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
