html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -70px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;

}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 70px;
  background:url('wetal-pattern2.png');
  background-color:#C8B29B;
}

/*#footer a {
  color:white;
  font-weight:100;
}*/

/* Lastly, apply responsive CSS fixes as necessary
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}*/
