.navbar {
  border-radius:0;
  font-weight: 200;
  background:url('wetal-pattern2.png');
  background-color:#C8B29B;
  box-shadow: 0px 1px 1px #2a2a2a;
  margin-bottom: 0;
}


.wave {
   /*background: url('wave-background.jpeg') no-repeat center center fixed;*/
   /*background: url('lake-background.jpeg') no-repeat center center fixed;*/
   /*background: url('diy-background.jpg') no-repeat center center fixed;*/
   background: url('home-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:580px;
}


iframe {
  border:6px solid #000;
  border-radius: 6px !important;
}


/*
.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}*/

.navbar-brand {
    float: left;
    padding: 0px 0px 0px 15px;
}

.navbar-brand span.glyphicon-menu-hamburger {
  color: #FFFFFF;
  font-size: 1.7em;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 15px;
}


.navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  text-decoration: underline;
}

/*.logo{
  max-width:100px;
  margin-top: -10px;
  margin-right: -15px;
}*/


/*body {
	background: #F4F4F4;
}

#footer a {
  color: #FFFFFF;
}*/



html, body {
  margin:0;
  padding:0;
  height:100%;
  background: #F4F4F4;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  background:#ededed;
  padding:10px;
}
#content {
  padding-bottom:100px; /* Height of the footer element*/
}
#footer {
  color: #FFFFFF;
  width:100%;
  height:30px;
  position:absolute;
  bottom:0;
  left:0;
}




/***************
 Outline Button
****************/

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #C8B29B;
  color: #C8B29B;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, 
.btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #8E2F01;
  border-color: #8E2F01;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #8E2F01;
  color: #8E2F01;
  box-shadow: none;
}

.btn-xs.btn-default, .btn-xs.outline {
  padding: 0px 4px;
}


/***********************
 Categories boxes style
***********************/

ul.wetal-categories-list { list-style-type: none; }
ul.wetal-categories-list li {
  display: inline-block;
  width: 220px;
  height: 210px;
  /*max-width: 220px;
  max-height: 210px;*/
  /*border: 1px solid #e7642c;*/
  margin: 0 10px 20px 10px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  padding: 0px 7px 0px 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

ul.wetal-categories-list li div.wetal-categories-box-img {
  width: 205px;
  height: 125px;
  /*border: 1px solid #e7642c;*/
  margin-top: 15px;
  margin-bottom: 10px;
}

ul.wetal-categories-list li div.wetal-categories-box-img img.customized { width: 205px; height: 125px; }

ul.wetal-categories-list li div.wetal-categories-box-bar {
  width: 205px;
  height: 45px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-categories-list li div.wetal-categories-box-bar h5 {
  width: 205px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-categories-list li div.wetal-categories-box-bar h5 a { margin-left: 0px; color: #C8B29B; }
ul.wetal-categories-list li div.wetal-categories-box-bar h5 a:hover { color: #8E2F01; text-decoration: none; }

ul.wetal-categories-list li div.wetal-categories-box-bar img {
  width: 20px;
  height: 20px;
  display: inline;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-categories-list li div.wetal-categories-box-bar span {
  width: 20px;
  height: 20px;
  /*border: 1px solid #e7642c;*/
  margin-left: 0px;
}

ul.wetal-categories-list li div.wetal-categories-box-bar a { margin-left: 19px; }
ul.wetal-categories-list li div.wetal-categories-box-bar form { display: inline-block; }



/*******************
 Howtos boxes style
********************/

ul.wetal-howtos-list { list-style-type: none; }
ul.wetal-howtos-list li { 
  display: inline-block;
  width: 220px;
  height: 210px;
  /*border: 1px solid #e7642c;*/
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  margin: 0 10px 20px 10px;
  padding: 0px 7px 0px 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

  /*max-width: 220px;
  max-height: 210px;*/
}

ul.wetal-howtos-list li div.wetal-howtos-box-vid {
  width: 205px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  /*border: 1px solid #e7642c;*/
}

/*
ul.wetal-howtos-list li div.wetal-howtos-box-vid div.wetal-howtos-box-buy {
  width: 50px;
  height: 20px;
  margin-left: 155px;
  margin-top: 80px;
  border: 1px solid #e7642c;
}
*/

ul.wetal-howtos-list li div.wetal-howtos-box-infobar {
  width: 205px;
  height: 40px;
  margin-bottom: 10px;
  /*border: 1px solid #e7642c;*/
  display: inline-block;
}

ul.wetal-howtos-list li div.wetal-howtos-box-infobar h5 {
  width: 205px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 2px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-howtos-list li div.wetal-howtos-box-infobar h5 a { 
  margin-left: 0px;
  color: #C8B29B;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 205px;
  white-space: nowrap;
}

ul.wetal-howtos-list li div.wetal-howtos-box-infobar h5 a:hover { color: #8E2F01; text-decoration: none; }

ul.wetal-howtos-list li div.wetal-howtos-box-toolbar {
  width: 205px;
  height: 20px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-howtos-list li div.wetal-howtos-box-toolbar form, a { display: inline-block; margin-right: 3px; }
ul.wetal-howtos-list li div.wetal-howtos-box-toolbar a, span { color: #C8B29B; border: 0px; }
ul.wetal-howtos-list li div.wetal-howtos-box-toolbar a:hover, span:hover, button.btn.btn-default.btn-xs:hover {
  color: #8E2F01;
  background-color: transparent;
}
ul.wetal-howtos-list li div.wetal-howtos-box-toolbar button {
    color: #C8B29B;
    border: 0px; 
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}





/***********
 Howto form
***********
div.wetal-howto-form {
  width: 1036px;
  height: 500px;
  background: #E6E6E6;
  /*border: 1px solid #e7642c;*
  padding-top: 18px;
  padding-right: 17px; /* should be 18px as well *
  padding-bottom: 18px;
  padding-left: 18px;

  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}


div.wetal-howto-form div.wetal-howto-form-header {
  width: 1000px;
  height: 55px;
  margin-bottom: 18px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-header h1 {
  width: 100px;
  display: inline;
  color: #666666;
}

div.wetal-howto-form div.wetal-howto-form-header h4 {
  width: 100px;
  margin-right: 350px;
  display: inline;
  color: #666666;
}

div.wetal-howto-form div.wetal-howto-form-left-block {
  width: 495px;
  height: 390px;
  display: inline-block;
  margin-right: 4px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-title {
  width: 400px;
  height: 34px;
  margin-top: 10px;
  margin-left: 45px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-title div input {
  width: 400px;
  height: 34px;
  max-height: 34px;
  max-width: 400px;
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-desc {
  width: 400px;
  height: 250px;
  margin-top: 10px;
  margin-left: 45px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-desc textarea {
  width: 400px;
  height: 250px;
  max-height: 250px;
  max-width: 400px;
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-media {
  width: 400px;
  height: 34px;
  margin-top: 10px;
  margin-left: 45px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-media div label {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 18px;
  width: 60px;
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-media div label input {
  width: 60px;
  margin-top: 0px;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.wetal-howto-form div.wetal-howto-form-left-block div.wetal-howto-form-left-block-media #link_div {
  display:none;
  margin-top: -20px;
  margin-left: 80px;
  width: 320px;
}


div.wetal-howto-form div.wetal-howto-form-right-block {
  width: 496px;
  height: 390px;
  display: inline-block;
  float: right;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-right-block div.wetal-howto-form-right-block-container {
  width: 400px;
  height: 294px;
  margin-top: 10px;
  margin-left: 45px;
  border-style: dashed;
  border-color: #C8B29B;
  padding: 40px 0px 40px 0px;
  /*border: 1px solid #e7642c;*
}

div.wetal-howto-form div.wetal-howto-form-right-block div.wetal-howto-form-right-block-container 
div.wetal-howto-form-right-block-container-img {
  margin-bottom: 50px;
}

div.wetal-howto-form div.wetal-howto-form-right-block div.wetal-howto-form-right-block-container 
div.wetal-howto-form-right-block-container-img img {
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


div.wetal-howto-form div.wetal-howto-form-right-block div.wetal-howto-form-right-block-container
div.wetal-howto-form-right-block-container-file {
  margin-left: 10px;
  margin-right: 10px;
}
*/



/*************
 Howto form 2
*************/

div.wetal-howto-form {
  /*border: 1px solid #e7642c;*/
  width: 568px;
}

div.wetal-howto-form-title {
  /*border: 1px solid #e7642c;*/
  margin-bottom: 10px;
}

div.wetal-howto-form-desc, div.wetal-howto-form-desc textarea {
  /*border: 1px solid #e7642c;*/
  height: 214px;
}

div.wetal-howto-form-for-sale label {
 display: inline-block;
 margin-left: 20px;
}


div.wetal-howto-form-for-sale label input {
  width: 60px;
  /*height: 0px;*/
  vertical-align: middle;
  
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

div.wetal-howto-form-for-sale label input#howto_for_sale  {
  /*margin-left: 0px; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.wetal-howto-form-for-sale #link_div {
  display:none;
  margin-top: -25px;
  margin-left: 80px;
  width: 488px;
}

div.wetal-howto-form-yt {
  margin-top: 20px;
}

div.wetal-howto-form-yt-img {
  display: inline-block;
}

div.wetal-howto-form-yt-link{
  width:489px;
  display: inline-block;
  float: right;
}

div.wetal-howto-form-upload {
  /*border: 1px solid #e7642c;*/
  margin-top: 20px;
}

div.wetal-howto-form-camera-img {
  /*border: 1px solid #e7642c;*/
  display: inline-block;
}

div.wetal-howto-form-file {
  /*border: 1px solid #e7642c;*/
  width:494px;
  margin-left: 42px;
  display: inline-block;
  float: right;
}

input#uploadFile {  
  width: 415px;
  margin-left: 5px;
}




/*************
 Product form
*************/
div.wetal-product-form {
  width: 1036px;
  height: 500px;
  background: #E6E6E6;
  /*border: 1px solid #e7642c;*/
  padding-top: 18px;
  padding-right: 17px; /* should be 18px as well */
  padding-bottom: 18px;
  padding-left: 18px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}


div.wetal-product-form div.wetal-product-form-header {
  width: 1000px;
  height: 55px;
  margin-bottom: 18px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-product-form div.wetal-product-form-header h1 {
  width: 100px;
  display: inline;
  color: #666666;
}

div.wetal-product-form div.wetal-product-form-header h4 {
  width: 100px;
  margin-right: 350px;
  display: inline;
  color: #666666;
}

div.wetal-product-form div.wetal-product-form-left-block {
  width: 495px;
  height: 390px;
  display: inline-block;
  margin-right: 4px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-product-form div.wetal-product-form-left-block div.wetal-product-form-left-block-title {
  width: 400px;
  height: 34px;
  margin-top: 10px;
  margin-left: 45px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-product-form div.wetal-product-form-left-block div.wetal-product-form-left-block-link {
  width: 400px;
  height: 34px;
  margin-top: 10px;
  margin-left: 45px;
  /*border: 1px solid #e7642c;*/
}


div.wetal-product-form div.wetal-product-form-right-block {
  width: 496px;
  height: 390px;
  display: inline-block;
  float: right;
  /*border: 1px solid #e7642c;*/
}

div.wetal-product-form div.wetal-product-form-right-block div.wetal-product-form-right-block-container {
  width: 400px;
  height: 294px;
  margin-top: 10px;
  margin-left: 45px;
  border-style: dashed;
  border-color: #C8B29B;
  /*padding: 40px 125px 40px 125px;*/
  padding: 40px 0px 40px 0px; 
}

div.wetal-product-form div.wetal-product-form-right-block div.wetal-product-form-right-block-container 
div.wetal-product-form-right-block-container-img {
  /*width: 150px;
  height: 80px;*/
  /*border: 1px solid #e7642c;*/
  margin-bottom: 50px;
}

div.wetal-product-form div.wetal-product-form-right-block div.wetal-product-form-right-block-container 
div.wetal-product-form-right-block-container-img img {
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


div.wetal-product-form div.wetal-product-form-right-block div.wetal-product-form-right-block-container
div.wetal-product-form-right-block-container-file {
  /*width: 150px;
  height: 60px;
  border: 1px solid #e7642c;*/

  margin-left: 10px;
  margin-right: 10px;
}


/****************
 Product form 2 *
****************/

div.wetal-product-form-upload {
  display: inline-block;
}

div.wetal-product-form-upload-img {
  display: inline-block;  
  margin-right: 35px;
}

div.wetal-product-form-upload-file {
  display: inline-block;
  float : right;
  width : 500px;
}

div.wetal-product-form-upload-file input#uploadFile { 
  width: 421px;
}



/*************
 Sign up form
*************/

/*#wrap {
  background: url('wave-background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


div.wetal-sign-up-form {
  width: 1036px;
  height: 500px;
  /*background: #E6E6E6;*/
  /*border: 1px solid #e7642c;*/
  padding-top: 18px;
  padding-right: 17px; /* should be 18px as well */
  padding-bottom: 18px;
  padding-left: 18px;
}

div.wetal-sign-up-form div.wetal-sign-up-form-left-block {
  width: 650px;
  height: 390px;
  display: inline-block;
  margin-right: 4px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-sign-up-form div.wetal-sign-up-form-left-block h1 {
  color: #FFFFFF;
}

div.wetal-sign-up-form div.wetal-sign-up-form-right-block {
  width: 345px;
  height: 390px;
  background: #E6E6E6;
  display: inline-block;
  float: right;
  padding-left: 40px;
  padding-right: 40px;
  /*border: 1px solid #e7642c;*/
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

div.wetal-sign-up-form div.wetal-sign-up-form-right-block-header {
  width: 265px;
  height: 55px;
  margin-bottom: 18px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-sign-up-form div.wetal-sign-up-form-right-block-header h3 {
  text-align: center;
  color: #8E2F01;
}

div.wetal-sign-up-form-right-block div.form-actions input.btn-primary { 
  background-color: #8E2F01;
  border-color: #8E2F01;
}

div.wetal-sign-up-form-right-block a {
  color: #8E2F01;
}


/*************
 Profile page
*************/
div.wetal-profile {
  width: 1036px;
  height: 100px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-profile div.wetal-profile-left-block {
  width: 500px;
  height: 100px;
  display: inline-block;
  /*border: 1px solid #e7642c;*/
  padding-left: 400px;
}

div.wetal-profile div.wetal-profile-right-block {
  width: 500px;
  height: 100px;
  float: right;
  display: inline-block;
  /*border: 1px solid #e7642c;*/
}

div.wetal-profile p.wetal-profile-left-block-picture {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-profile p.wetal-profile-left-block-picture img {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.nav-tabs li a {
  color: #BBBBBB;
  border: transparent;
}

.nav-tabs  a:hover, a:active {
  background-color: transparent;
  color: #C8B29B;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: #C8B29B;
  border: transparent;
  border-color: transparent;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills { text-align:center; }



/*********************
 Category suggestions
*********************/
ul.wetal-suggestions-list { list-style-type: none; }
ul.wetal-suggestions-list li { 
  display: inline-block;
  width: 220px;
  height: 105px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  margin: 0 10px 20px 10px;
  padding: 0px 7px 0px 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

  /*border: 1px solid #e7642c;
  max-width: 220px;
  max-height: 210px;*/
}

div.wetal-suggestions-box-title {
  width: 205px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
  display : inline-block;
}

div.wetal-suggestions-box-title h4 {
  color: #BBBBBB;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  width: 205px;
  white-space: nowrap
}

div.wetal-suggestions-box-desc {
  width: 205px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
  display : inline-block;
}

div.wetal-suggestions-box-desc h6 {
  color: #C8B29B;
  margin-top: 0px;
  margin-bottom: 0px;

  line-height: 1.5em;
  height: 3em;
  word-wrap:break-word;

  overflow: hidden;
  width: 205px;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}

div.wetal-suggestions-box-like {
  width: 205px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-suggestions-box-like strong {
  color: #C8B29B;
}

div.wetal-suggestions-box-like form { display: inline-block; }
div.wetal-suggestions-box-like a, span { border: 0px; }
div.wetal-suggestions-box-like a:hover, span:hover, button.btn.btn-default.btn-xs:hover {
  border: 0px;
  background-color: transparent;
}

div.wetal-suggestions-box-like form button {
  color: #C8B29B;
  border: 0px; 
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}


/***************************
 Search result (users part)
***************************/
ul.wetal-search-list { list-style-type: none; }
ul.wetal-search-list li { 
  display: inline-block;
  width: 220px;
  height: 105px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  margin: 0 10px 20px 10px;
  padding: 0px 7px 0px 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);

  /*border: 1px solid #e7642c;
  max-width: 220px;
  max-height: 210px;*/
}

ul.wetal-search-list li div.wetal-search-list-left-block {
  width: 73px;
  height: 105px;
  display: inline-block;
  /*border: 1px solid #e7642c;*/
}


ul.wetal-search-list li p.wetal-search-list-left-block-picture {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding: 0px;
  margin: 14px 0px 14px 0px;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-search-list li p.wetal-search-list-left-block-picture img {
  width: 70px;
  height: 70px;
  display: inline-block;
  padding: 0px;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
}

ul.wetal-search-list li div.wetal-search-list-right-block {
  width: 130px;
  height: 105px;
  display: inline-block;
  float: right;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-search-list li div.wetal-search-list-right-block-pseudo {
  width: 130px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-search-list li div.wetal-search-list-right-block-pseudo h4 {
  color: #BBBBBB;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

ul.wetal-search-list li div.wetal-search-list-right-block-pseudo h4 a { margin-left: 0px; color: #C8B29B; }
ul.wetal-search-list li div.wetal-search-list-right-block-pseudo h4 a:hover { color: #8E2F01; text-decoration: none; }

ul.wetal-search-list li div.wetal-search-list-right-block-description {
  width: 130px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
}

ul.wetal-search-list li div.wetal-search-list-right-block-description h6 {
  color: #C8B29B;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

ul.wetal-search-list li div.wetal-search-list-right-block-follow-btn {
  width: 87px;
  height: 35px;
  /*border: 1px solid #e7642c;*/
  margin-right: 43px;
  margin-left: 43px;
}



/**********************
 Side navigation menu *
**********************/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #C8B29B;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#categories-list a.sidenav-categories {
  margin-left: 20px;
  font-size: 17px;
}



/********************
 Howto Detail Modal *
*********************/
div.modal-content {
  background: #F4F4F4;
}

div.modal-header h4, a { color: #BBBBBB; text-decoration: none; }

div.modal-header a:hover, a:active {
  text-decoration: none;
  background-color: transparent;
  color: #8E2F01; 
}

div.modal-content .video-js {
  width: 400px;
  height: 400px;
}

div.modal-body div.modal-body-video {
  /*border: 1px solid #e7642c;*/
  width: 400px;
  height: 400px;
  /*margin-right: 400px;*/
  display: inline-block;
}

div.modal-body-video div.wetal-howtos-box-toolbar {
  width: 400px;
  /*text-align: center;*/
  display: flex;
}

div.modal-body div.modal-body-info {
  /*border: 1px solid #e7642c;*/
  width: 400px;
  height: 400px;
  float: right;
}

div.modal-body-info .nav-tabs a {
  font-size: 16px;
}



/***********************************
 Howto Detail Modal (Products tab) *
************************************/
div.list-group-item-pdts-picture {
  /*border: 1px solid #e7642c;*/
  display: inline-block;
  height: 100px;
  width: 100px;
}

div.list-group-item-pdts-info {
  /*border: 1px solid #e7642c;*/
  height: 100px;
  width: 250px;
  float: right;
}

div.pdts-overflow {
  max-height: 254px;
  overflow-y: scroll;
}



/***********************************
 Howto Detail Modal (Comments tab) *
************************************/
div.wetal-comment-profile p.wetal-comment-profile-picture img {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-comment-profile h5.wetal-comment-profile-pseudo {
  float: right;
  display: inline-block;
  margin-top: -40px;
  /*margin-right: 140px;  for split email */
  margin-right: 210px; /* for real pseudo */
}

div.comments-overflow {
  /*max-height: 339px;*/
  max-height: 227px;
  overflow-y: scroll;
  /*border: 1px solid #e7642c;*/
}

div.wetal-comment-input {
  /*border: 1px solid #e7642c;*/
  height: 90px;
  width: 400px;
  position: absolute;
  bottom: 55px;
}


/************************************ 
 Publish your howto button (header) *
************************************/
.btn-color, btn-color:focus, .btn-color:active { border-color: #8E2F01; background-color: #8E2F01; color: white; }
.btn.btn-color:hover, .btn.btn-color:focus, .btn.btn-color.focus { border-color: #8E2F01; background-color: #B73d01; color: white; }
.caret-color, .caret-color:hover, .caret-color:focus, .caret-color:active { color: white; }



/*******************
  Wetal pagination *
*******************/
/*
.pagination > .active > span, .pagination > .active > span:hover { background-color: #B73d01; border-color: #8E2F01; }
.pagination > .active > span:hover, .pagination > .active > span:focus { background-color: #B73d01; }
.pagination > li > span:hover, .pagination > li > span:focus, .pagination > li > a:hover, .pagination > li > a:focus {
  background-color: #B73d01; 
  color: white;
}
.pagination > li > span, .pagination > li > a {
  color: white;
  background-color: #8E2F01;
  border-color: #8E2F01;
}*/
.pagination > li > span, .pagination > li > a { color: #8E2F01; }
.pagination > .active > span, .pagination > .active > span:hover { background-color: #8E2F01; border-color: #8E2F01; }
.pagination > li > span:hover, .pagination > li > span:focus, .pagination > li > a:hover, .pagination > li > a:focus {
  background-color: #B73d01; 
  color: white;
}



/*****************************
  Category suggestion pop-up *
*****************************/
div.category_suggestion_why textarea { height: 200px; }



/***************
  About pop-up *
***************/
div.wetal-about {
  /*border: 1px solid #e7642c;*/
}
div.wetal-about div.wetal-about-top {
  height: 135px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-about-top-profile-one {
  margin-left: 250px;
  display: inline-block;
  height: 150px;
  width: 150px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-about-top-profile-one-picture img, div.wetal-about-top-profile-two-picture img {
  margin-left: 22px;
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-about-top-profile-one-info, div.wetal-about-top-profile-two-info  {
  text-align: center;  
}

div.wetal-about-top-profile-two {
  margin-right: 250px;
  display: inline-block;
  float: right;
  height: 150px;
  width: 150px;
  /*border: 1px solid #e7642c;*/
}

div.wetal-about-bottom { max-height: 380px;overflow-y: auto; }



/***************************
  User profile form pop-up *
***************************/

div.wetal-user-profile-form-upload {
  display: inline-block;
}

div.wetal-user-profile-form-picture-img {
 display: inline-block; 
  margin-right: 35px;
}

div.wetal-user-profile-form-file {
  display: inline-block;
  float: right;
  width : 500px;
}

div.wetal-user-profile-form-file input#uploadFile { 
  width: 421px;
}

