<div class="col-xs-10 col-xs-offset-1">
	</br>
	
	<ul class="wetal-categories-list">
		<% @categories.each do |category| %>
			<li>
				<div class="wetal-categories-box-img">
					<% if category.photo.present? %>
						<%= image_tag category.photo.picture, :class => "img-responsive customized img-rounded" %>
					<% end %>
				</div>
				<div class="wetal-categories-box-bar">
					<h5><%= link_to category.title, category_howtos_path(category)%></h5>
					<%= image_tag 'Wetal-Follow.png', class: 'img-responsive' %>
					<span>
						<strong id="category_followers_<%= category.id %>">
							<%= number_to_human(category.followers.count, :format => '%n%u', :precision => 2,
								:units => { :thousand => 'k', :million => 'm', :billion => 'b' }) %>
						</strong> followers
					</span>
					<!-- <span><strong>100000</strong> followers</span>-->
					<div id="category_follow_form_<%= category.id %>" class="pull-right">
						<% if current_user && current_user.following?(category) %>
							<%= render partial: 'shared/categories/unfollow', :object => @category = category %>
								<!--locals: { category: @category = category } %>-->
						<% else %>
							<%= render partial: 'shared/categories/follow', :object => @category = category %>
								<!--locals: { category: @category = category } %>-->
						<% end %>
					</div>		
				</div>
			</li>
		<% end %>
	</ul>
	

	<div class="text-center">
  		<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
	</div>
</div>
