$("#howto_favorite_form_<%= @howto.id %>").html("<%= escape_javascript(render('shared/howtos/prefer')) %>");
$("#howto_admirers_<%= @howto.id %>").html("<%= @howto.admirers.count %>");


$("#modal_howto_favorite_form_<%= @howto.id %>").html("<%= escape_javascript(render('shared/howtos/prefer')) %>");
$("#modal_howto_admirers_<%= @howto.id %>").html("<%= @howto.admirers.count %>");