<!-- Modal -->
<div class="modal fade" id="ProductFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New product for <%= @howto.title %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @product, url: howto_products_path(@howto), html: { multipart: true } do |f| %>
          <%= f.input :name, label: false, placeholder: 'Name' %>
          <br/>
          <%= f.input :link, label: false, placeholder: 'Link to get this product' %>
          <br/>
          <div class="wetal-product-form-upload">
            <div class="wetal-product-form-upload-img">
              <%= image_tag 'picture-wetal.png', height: '32', width: '32', class: 'img-responsive' %>
            </div>
            <div class="wetal-product-form-upload-file">
              <div class="input-group">
                <label class="input-group-btn">
                  <span class="btn btn-default btn-file">
                      Browse
                       <input name="product[photo_attributes][picture]"  class="file required form-control upload"
                          id="product_photo_attributes_picture" type="file">
                  </span>
                  <input name="product_photo_file_name" id="uploadFile" type="text" 
                    class="form-control uploadFile" readonly>
                </label>
              </div>
            </div>
          </div>
          <br/><br/>
          <%= f.submit 'Create', class: 'btn btn-primary btn-color' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
  $('#product_photo_attributes_picture').on('change', function() {
      var value = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
      $("#uploadFile").val(value);
    });
    

    $(document).ready(function(){

        $('#new_product').validate({
          rules: {
            'product[name]': {
              required: true,
              minlength: 2,
              maxlength: 64
            },
            'product[photo_attributes][picture]': {   // Why this rule ?
              required: true,             // I do not know !
              extension: "png|jpg|jpeg"       // but it doesn't work without it
            },
            'product_photo_file_name': {
              required: true,
              extension: "png|jpg|jpeg"
            },
            'product[link]': {
              required: true,
              url: true
            } 
          },
        messages: {
          'product[name]': {
            required: "Please enter a name for this product.",
            minlength: "The name must be at least 2 characters long.",
            maxlength: "The name must not exceed 64 characters long."
          },
          'product_photo_file_name': {
            required: "Please select a picture file.",
            extension: "Please select a file with one of these extensions : .png, .jpg, .jpg"
          },
          'product[link]': {
            required: "Please enter the URL where people can buy this product.",
            url: "Please enter a valide URL (e.g. http://www.example.com)"
          }
        },
        tooltip_options: {
                'product[name]': { placement: 'top' },
                'product_photo_file_name': { placement: 'top' },
                'product[link]': { placement: 'top' }
            },
        });
    })


  $('#ProductFormModal').on('hidden.bs.modal', function (e) {
      // clear form
      //$(this).find('form')[0].reset();
      // clear form tooltips
      //var $tooltip_div_elmts = $('.tooltip');
      //$tooltip_div_elmts.each(function() {
      //  $(this).remove();
      //});
      $("#ProductFormModal").remove();
    });
</script>

<style type="text/css">
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
</style>
