<div class="col-xs-10 col-xs-offset-1">

	</br></br>

	<div class="wetal-howto-form">
		<%= simple_form_for @howto, url: category_howto_path(@category, @howto) do |f| %>
			<div class="wetal-howto-form-header">
				<h4>Step 1/2</h4>
				<h1>Howto</h1>
			</div>
			<div class="wetal-howto-form-left-block">
				<div class="wetal-howto-form-left-block-title">
					<%= f.input :title, label: false, placeholder: 'Title' %>
				</div>
				<div class="wetal-howto-form-left-block-desc">
					<%= f.input :description, label: false, placeholder: 'Description' %>
				</div>
				<div class="wetal-howto-form-left-block-media">
					<%= f.input :for_sale, as: :boolean %>
					<div id="link_div" style="display:none;">
						<%= f.input :link, label: false, placeholder: 'Link to get this howto' %>
					</div>
				</div>
			</div>
			<div class="wetal-howto-form-right-block">
				<div class="wetal-howto-form-right-block-container">
					<div class="wetal-howto-form-right-block-container-img">
						<%= image_tag 'camera-wetal.png', class: 'img-responsive' %>
					</div>
					<div class="wetal-howto-form-right-block-container-file">
						<%= f.simple_fields_for :video do |sf| %>
							<%= sf.input :video, label: false %>
						<% end %>
					</div>
				</div>
			</div>
			<%= f.submit 'Update', class: 'btn btn-primary' %>	
		<% end %>
	</div>

	<script type="text/javascript">
	  var checkbox = document.getElementById('howto_for_sale');
	  var link_div = document.getElementById('link_div');
	  checkbox.onchange = function() {
	     if(this.checked)
	     {
	       link_div.style['display'] = 'block';
	     } 
	     else
	     {
	       link_div.style['display'] = 'none';
	     }
	  };
	</script>
</div>


<!--
<h1>Edit your howto</h1>

<%= simple_form_for @howto, url: category_howto_path(@category, @howto) do |f| %>
	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.simple_fields_for :video do |sf| %>
		<%= sf.input :video %>
	<% end %>
	<%= f.input :for_sale,  as: :boolean %>
	<br />
	<%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
-->