<div class="col-xs-10 col-xs-offset-1">

	<div class="col-sm-12 col-xs-12">
		<h5 style="color: #8E2F01">
			<!--span class="label label-default" style="background-color: #8E2F01;color: white;"-->
				Howtos of the <%= @category.title %> category
			<!--/span-->
			<%= link_to 'Back to all categories', categories_path, 
			class: 'btn btn-primary btn-xs pull-right btn-color' %>
		</h5>
	</div>
	<br/><br/><br/>

	
	<%= render partial: 'shared/howtos/howtos_list' %>


	<div class="text-center">
  		<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
	</div>

</div>