<!DOCTYPE html>
<html>
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>Wetal</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  		<%= csrf_meta_tags %>
      <link href="https://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
      <script src="https://vjs.zencdn.net/5.0.2/video.js"></script>
      <script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
	</head>

	<body>
    <div id="wrap">    
      <nav class="navbar navbar-static-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
              <% if user_signed_in? %>
                <%= link_to 'My account', user_profile_path(current_user)%>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path %>
                <%= link_to 'Sign up', new_user_registration_path %>
              <% end %>
              <a style="cursor: pointer;" onclick="openCategoriesList();">Howtos
                <div id="categories-list" style="display:none;">
                  <% @sidebar_categories.each do |category| %>
                    <%= link_to category.title, category_howtos_path(category), class: 'sidenav-categories' %>
                  <% end %>
                </div>
              </a>
              <%= link_to 'Category suggestions', category_suggestions_path %>
              <%= link_to 'About', about_path, remote: true %>
              <%= mail_to "wetalapp@gmail.com", "Contact" %>
              <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              <% end %>
              </br>
              <div class="col-xs-10 col-xs-offset-1 text-center">
                <div class="col-lg-12">
                  <div class="col-lg-12">
                    <%= link_to 'https://www.facebook.com/wetalapp/', :target => "_blank" do %>
                      <%= image_tag 'Facebook-Wetal-white.png', height: '32', width: '32', class: 'img-responsive' %>
                    <% end %>
                  </div>
                  <div class="col-lg-12">
                    <%= link_to 'https://twitter.com/wetal_app', :target => "_blank" do %>
                      <%= image_tag 'Twitter-Wetal-white.png', height: '32', width: '32', class: 'img-responsive' %>
                    <% end %>
                  </div>
                  <div class="col-lg-12">
                    <%= link_to 'https://www.instagram.com/wetal_app/', :target => "_blank" do %>
                      <%= image_tag 'Instagram-Wetal-white.png', height: '32', width: '32', class: 'img-responsive' %>
                    <% end %>
                  </div>
                </div>
              </div>
              <!--
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="E-mail for Newsletter">
                </div>
                <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope"></span>
                </button>
              </form>
              -->
            </div>
            
            <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon-menu-hamburger" onclick="openNav();"></span>
            </a>
            <%= link_to root_path, class: 'navbar-brand' do %>
              <%= image_tag 'Logo-Wetal.png', class: 'img-responsive' %> 
            <% end %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            
            <form class="navbar-form navbar-left" role="search" action='/search_results'>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name='keyword'>
              </div>
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>

            
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle navbar-btn btn-color" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Publish your howto <span class="caret caret-color"></span>
              </button>
              <ul class="dropdown-menu">
                <% @sidebar_categories.each do |category| %>
                  <li class="fake-class" data-id="<%= category.id %>" data-toggle="modal"
                      data-target="#howtoFormModal">
                    <%= link_to category.title, "#" %>
                  </li>
                <% end %>
              </ul>
            </div>

            
            
    
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-color fake-class-category-suggestion" data-toggle="modal" 
              data-target="#categorySuggestionModal">
              Suggest a category
            </button>

            

           
            

            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to 'My account', user_profile_path(current_user)%></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Sign in', new_user_session_path %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>



      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p> 
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>  
    </div>
    

    <div id="footer">
      <div class="container">
        <p class="text-center">© 2017 Wetal</p>
      </div>
    </div>

    <script>
      /* Set the width of the side navigation to 250px */
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
      }

      function openCategoriesList()
      {
        var categories_list = document.getElementById('categories-list');
        var style = categories_list.style['display'];

        if(style == 'block')
        {
          categories_list.style['display'] = 'none';
        }
        else
        {
          categories_list.style['display'] = 'block';
        }
      }


      $category_li_elmts = $('.fake-class');
      $category_li_elmts.on('click', function (e) {
        $li = $(this);
        var categoryId = $li.data('id');
        var categoryTitle = $li.text();
        $('body').append('<%= j render partial: "shared/howtos/new_modal" %>');
        $('#howtoFormModal').on('show.bs.modal', function (e) {
           $('#howtoFormModalLabel').text('Publish your howto in the ' + categoryTitle + 'category');
           $('#new_howto').attr('action', '/categories/' + categoryId + '/howtos');
        });
      });


      $new_suggestion_btn_elmt = $('.fake-class-category-suggestion');
      $new_suggestion_btn_elmt.on('click', function (e) {
        $('body').append('<%= j render partial: "category_suggestions/new_modal" %>');
        //alert("pressed");
      });      
    </script>
	</body>
</html>
